.card {
  box-shadow: 0 0 10px rgba(255, 81, 0, 0.1);
}

.dashboard-container {
  padding: 20px;
}

.search-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.search-input,
.people-dropdown,
.date-picker,
.btn-primary,
.btn-secondary {
  height: 38px;
  padding: 7.5px 10px;
  border-radius: 4px;
  font-size: 16px;
}

.card-header {
  background-color: #fff5f2 !important;
}

.dropdown-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  padding: 0px 10px;
}

.people-dropdown {
  border: none;
  background: white;
  margin-left: 10px;
  flex: 1;
}

.people-dropdown:focus {
  outline: none;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: orangered !important;
  border: 1px solid orangered !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary:hover {
  background-color: rgb(215, 57, 0) !important;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: orangered !important;
  border: 1px solid orangered !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-secondary:hover {
  background-color: rgb(215, 57, 0) !important;
}

.table {
  margin-top: 20px;
  border-collapse: collapse; /* Ensure borders are collapsed */
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.table thead th {
  border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
  border: 1px solid #dee2e6; /* Add vertical and horizontal borders */
  padding: 8px;
  text-align: left;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.action-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}