  .help-and-support-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .card {
    border-radius: 8px;
  }
  
  .card-header {
    background-color: #f8f9fa;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: orangered;
    border-color: orangered;
  }
  
  .btn-primary:hover {
    background-color: darkred;
    border-color: darkred;
  }
  
  .form-helpAndSupport {
    width: 100%;
  }